* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, 12%, 48%);
  /* line-height: 1.5; */
  font-weight: 700;
  /* font-family: "Montserrat", sans-serif; */
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
  padding: 50px;
  background-color: hsl(0, 0%, 100%);
}
.profile-card__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  letter-spacing: 1.2rem;
}
.profile-card__heading {
  font-family: "Fraunces";
  font-size: 6rem;
  font-weight: bold;
  color: hsl(212, 21%, 14%);
}
.profile-card__description {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  text-align: start;
  color: hsl(228, 12%, 48%);
}
.section-four {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
/* .price {
  font-family: "Fraunces";
  font-size: 48px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}
.cancelled-price {
  font-family: "Montserrat";
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
} */

.price {
  color: hsl(158, 36%, 37%);
  font-size: 4.6rem;
  font-family: "Fraunces", sans-serif;
}
.cancelled-price {
  font-size: 2rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.btn {
  background-color: hsl(158, 36%, 37%);
  padding: 2.4rem 4.8rem;
  border-radius: 1.4rem;
  border-style: none;
  font-weight: bold;
  font-size: 2rem;
  font-family: "Montserrat";
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn:hover {
  background-color: hsl(158, 42%, 18%);
}
