* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
}

.flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
}
.section {
  padding: 50px auto;
}
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px;
  background-color: hsl(0, 0%, 100%);
}
.section-one {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
  color: hsl(228, 12%, 48%);
}
.section-two {
  font-family: "Fraunces";
  font-size: 48px;
  font-weight: bold;
  text-align: start;
  color: hsl(212, 21%, 14%);
}
.section-three {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: start;
  color: hsl(228, 12%, 48%);
}
.section-four {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.price {
  font-family: "Fraunces";
  font-size: 48px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
}
.cancelled-price {
  font-family: "Montserrat";
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}
.btn {
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  padding: 10px 20px;
  border-style: none;
  font-weight: 700px;
  font-family: "Montserrat";
}
